/************************************************

	**Contents**
		# - Utilities
			# - Variables
			# - Mixins
			# - Feature detect
		# - Navigation
		# - Universal
			# - Headers
		# - Home page
		# - Category page
		# - Breadcrumb
		# - Article
		# - Article tags
		# - Career guides
		# - Now hiring block
		# - Search results
		# - All posts

************************************************/
/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	# Variables
--------------------------------------------------------------*/
/* NAV */
/* Text */
/* Container backgrounds */
/* Lines */
/* Buttons */
/* Call to actions */
/* images */
/*grid break points*/
/*--------------------------------------------------------------
	# Mixins
--------------------------------------------------------------*/
.shadow {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.right-gradient {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.bottom-gradient {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
}
.bottom-arrow-border {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: none;
}
.right-arrow-border {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: none;
}
.section-padding {
  margin-top: 15px;
  margin-bottom: 15px;
}
.spacer {
  display: inline-block;
}
@media (max-width: 990px) {
  .spacer {
    display: none;
  }
}
.full-width-block {
  width: 300%;
  margin-left: -100%;
  padding-left: 100%;
  padding-right: 100%;
}
.normal-width-block {
  width: 100%;
}
.tags {
  position: absolute;
  bottom: 0;
}
@media (max-width: 767px) {
  .tags {
    display: none;
  }
}
@media (max-width: 990px) {
  .tags {
    position: relative;
    bottom: auto;
  }
}
.tags a {
  color: #333;
}
.tags a :before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border: none;
}
.tags a:hover {
  color: #00487f;
}
p.title a:hover {
  color: #00487f !important;
  text-decoration: none !important;
}
.boxed-tags {
  position: relative;
  background: #eaeaea;
  padding: 3px 7px;
}
.boxed-tags:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #eaeaea;
  border-width: 12px;
  margin-top: -12px;
}
.boxed-tags p {
  font-size: 12px;
  margin: 0;
}
.boxed-tags a {
  font-size: 12px;
  color: #333;
  margin: 0;
}
.image-container {
  position: relative;
  float: left;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.image-container a {
  display: inline;
}
.image-container img {
  height: auto;
  width: 100%;
  border-radius: 4px;
}
.latest-articles .article-small {
  padding: 0;
}
.latest-articles .article-small .article-module {
  position: relative;
  height: 200px;
  margin: 0 0 40px 0;
}
@media (max-width: 470px) {
  .latest-articles .article-small .article-module {
    height: 130px;
    margin: 0 0 30px 0;
  }
}
.latest-articles .article-small .article-module .image-container {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: none;
}
.latest-articles .article-small .article-module .image-container .img-gradient {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
}
.latest-articles .article-small .article-module .image-container .article-arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: #f5f7fa;
  background-color: #f5f7fa;
  bottom: -8px;
  left: 9%;
}
.latest-articles .article-small .article-module .text-container {
  height: 100px;
  float: left;
  padding-bottom: 2em;
  overflow: hidden;
  padding-top: 15px;
}
.latest-articles .article-small .article-module .text-container .title a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
@media (max-width: 470px) {
  .latest-articles .article-small .article-module .text-container {
    height: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .latest-articles .article-small .article-module .text-container .title a {
    font-size: 13px;
    line-height: 15px;
  }
}
/*--------------------------------------------------------------
	# Feature detect
--------------------------------------------------------------*/
.no-csstransforms .article-arrow {
  display: none !important;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.global-nav {
  background-color: #005aa0;
}
.global-nav a {
  color: #ffffff;
}
.local-nav {
  box-sizing: content-box;
  background-color: #00487f;
  border-bottom: solid 1px #000;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
.local-nav a {
  color: #555555;
}
.tab-pane.fade {
  display: none;
}
.tab-pane.fade.in {
  display: block;
}
.container {
  min-width: 300px;
}
nav {
  min-width: 300px;
}
@media (max-width: 410px) {
  #menu-top-menu .item4 {
    display: none;
  }
}
/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333333;
  padding-top: 100px;
}
@media only screen and (max-width: 1200px) {
  body {
    padding-top: 0;
  }
}
.row-vertical-padding {
  margin-top: 15px;
  margin-bottom: 15px;
}
p {
  font-size: 18px;
}
a img:hover {
  opacity: 0.9;
}
.bold {
  font-weight: 700;
}
/* Override bootstrap on archive and search pages */
.page-header {
  margin-top: 10px;
}
.section-spacer {
  height: 15px;
}
@media (max-width: 767px) {
  .section-spacer {
    height: 0;
    display: none;
  }
}
.style-guide-section-title {
  margin-top: 50px;
  color: #ff22ee;
  font-weight: 700;
  font-size: 20px;
}
.indent {
  margin-left: 50px;
}
.background-for-white-text {
  background-color: #2f94dc;
}
.btn-more {
  color: #4990c7;
  border: 1px solid #4990c7;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 20px;
  margin: 20px 0;
}
.btn-more .btn-icon {
  font-size: 12px;
}
.btn-more:hover {
  color: #00487f;
  border-color: #00487f;
}
@media (max-width: 767px) {
  .btn-more {
    width: calc(100% - 30px);
    margin: 20px 15px;
  }
}
.btn-more-active {
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 20px;
}
.btn-more-active .btn-icon {
  font-size: 12px;
}
form {
  margin-top: 3px;
}
.no-select {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}
.m-r {
  margin-right: 10px;
}
.flex_posts {
  display: inline-flex;
  flex-wrap: wrap;
}
/*--------------------------------------------------------------
c
--------------------------------------------------------------*/
h1 {
  color: #e05b88;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
h2 {
  font-size: 34px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 767px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  h2 {
    margin-bottom: 15px;
  }
}
@media (max-width: 470px) {
  h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.flex {
  display: flex;
  width: 50%;
}
.nav {
  font-size: 15px;
}
.navbar {
  height: 40px;
}
.navbar .local-nav {
  min-height: 40px;
}
@media only screen and (max-width: 1200px) {
  .navbar.navbar-fixed-top {
    position: relative;
  }
}
.global-nav-txt {
  color: #ffffff;
  height: 40px;
  padding-left: 25px;
  padding: 0 15px 0 15px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.global-nav-txt:hover {
  text-decoration: underline;
}
.global-nav-txt-active {
  border-bottom: solid 3px #FFF;
}
@media (max-width: 1200px) {
  .navbar-brand-collapse-hidden {
    visibility: hidden;
    display: none;
  }
  a.global-nav-txt-active {
    display: none !important;
  }
  .navbar-brand {
    float: left;
    padding: 10px 10px;
    height: 50px;
  }
  .local-nav > .container {
    padding: 0;
  }
}
.nav-custom > li {
  float: left;
}
.nav-custom > li.active > a {
  color: #888;
}
.nav-custom > li.active > a:hover,
.nav-custom > li.active > a:focus {
  color: #888;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.container-custom > .navbar-header,
.container-custom > .navbar-collapse {
  float: left;
}
.navbar-toggle-custom {
  float: left;
  margin-left: 15px;
}
@media (max-width: 435px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 15px 15px;
  }
}
/*--------------------------------------------------------------
# Home page
--------------------------------------------------------------*/
#featured-hero {
  position: relative;
}
#featured-hero .image-container {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: none;
}
#featured-hero .image-container .img-gradient {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
#featured-hero .image-container .article-arrow {
  position: absolute;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: #ffffff;
  background-color: #ffffff;
  right: -11px;
  top: 15%;
}
#featured-hero .text-container {
  height: auto;
  float: left;
  padding-bottom: 2em;
  overflow: hidden;
}
#featured-hero .text-container .title a {
  color: #000;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
}
#featured-hero .text-container p {
  font-size: 16px;
  line-height: 22px;
}
#featured-hero .text-container .hero-category-links a {
  font-size: 12px;
  color: #757575;
}
@media (max-width: 990px) {
  #featured-hero {
    position: relative;
    height: auto;
    margin: 15px 0;
  }
  #featured-hero .image-container {
    width: 100%;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: none;
  }
  #featured-hero .image-container .img-gradient {
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* W3C */
    top: auto;
  }
  #featured-hero .image-container .article-arrow {
    position: absolute;
    width: 18px;
    height: 18px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    background: #ffffff;
    background-color: #ffffff;
    bottom: -9px;
    left: 9%;
    right: auto;
    top: auto;
  }
  #featured-hero .text-container {
    padding-bottom: 0;
    height: auto;
  }
  #featured-hero .text-container :before {
    border-bottom: none;
  }
  #featured-hero .text-container .title a {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }
  #featured-hero .text-container p {
    font-size: 14px;
    line-height: 16px;
  }
  #featured-hero .text-container .a {
    font-size: 12px;
    color: #ccc;
  }
}
@media (max-width: 765px) {
  #featured-hero .text-container {
    padding-top: 15px;
  }
}
#featured-frontpage {
  float: left;
  margin-bottom: 15px;
}
ul.post-categories {
  list-style: none;
}
ul.post-categories a {
  font-size: 12px;
  display: inline-block;
  color: #CCC;
}
#latest-articles-full-block {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f5f7fa;
  background-color: #f5f7fa;
  border-top: 1px solid #d9e6f0;
  border-bottom: 1px solid #d9e6f0;
  width: 100%;
  margin-top: 15px;
}
#latest-articles-full-block .article-small {
  padding: 0;
}
#latest-articles-full-block .article-small .article-module {
  position: relative;
  height: 200px;
  margin: 0 0 40px 0;
}
@media (max-width: 470px) {
  #latest-articles-full-block .article-small .article-module {
    height: 130px;
    margin: 0 0 30px 0;
  }
}
#latest-articles-full-block .article-small .article-module .image-container {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: none;
}
#latest-articles-full-block .article-small .article-module .image-container .img-gradient {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
}
#latest-articles-full-block .article-small .article-module .image-container .article-arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: #f5f7fa;
  background-color: #f5f7fa;
  bottom: -8px;
  left: 9%;
}
#latest-articles-full-block .article-small .article-module .text-container {
  height: 100px;
  float: left;
  padding-bottom: 2em;
  overflow: hidden;
  padding-top: 15px;
}
#latest-articles-full-block .article-small .article-module .text-container .title a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
@media (max-width: 470px) {
  #latest-articles-full-block .article-small .article-module .text-container {
    height: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #latest-articles-full-block .article-small .article-module .text-container .title a {
    font-size: 13px;
    line-height: 15px;
  }
}
#latest-articles-block {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f5f7fa;
  background-color: #f5f7fa;
  border-top: 1px solid 'none';
  border-bottom: 1px solid 'none';
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
#latest-articles-block .article-small {
  padding: 0;
}
#latest-articles-block .article-small .article-module {
  position: relative;
  height: 200px;
  margin: 0 0 40px 0;
}
@media (max-width: 470px) {
  #latest-articles-block .article-small .article-module {
    height: 130px;
    margin: 0 0 30px 0;
  }
}
#latest-articles-block .article-small .article-module .image-container {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: none;
}
#latest-articles-block .article-small .article-module .image-container .img-gradient {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
}
#latest-articles-block .article-small .article-module .image-container .article-arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: #f5f7fa;
  background-color: #f5f7fa;
  bottom: -8px;
  left: 9%;
}
#latest-articles-block .article-small .article-module .text-container {
  height: 100px;
  float: left;
  padding-bottom: 2em;
  overflow: hidden;
  padding-top: 15px;
}
#latest-articles-block .article-small .article-module .text-container .title a {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
@media (max-width: 470px) {
  #latest-articles-block .article-small .article-module .text-container {
    height: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #latest-articles-block .article-small .article-module .text-container .title a {
    font-size: 13px;
    line-height: 15px;
  }
}
#hero-articles-block {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f5f7fa;
  background-color: #f5f7fa;
  border-top: 1px solid #d9e6f0;
  border-bottom: 1px solid #d9e6f0;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
#hero-articles-block .hero-medium {
  float: left;
  overflow: hidden;
}
#hero-articles-block .hero-medium .article-module {
  position: relative;
  height: auto;
  margin: 15px 0;
}
@media (max-width: 990px) {
  #hero-articles-block .hero-medium .article-module {
    height: auto;
    margin-bottom: 15px;
  }
}
#hero-articles-block .hero-medium .article-module .image-container {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: none;
}
#hero-articles-block .hero-medium .article-module .image-container .img-gradient {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
}
#hero-articles-block .hero-medium .article-module .image-container .article-arrow {
  position: absolute;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: #f5f7fa;
  background-color: #f5f7fa;
  bottom: -9px;
  left: 5%;
}
#hero-articles-block .hero-medium .article-module .text-container {
  height: auto;
  float: left;
  padding-bottom: 2em;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 1em;
}
@media (max-width: 990px) {
  #hero-articles-block .hero-medium .article-module .text-container {
    height: auto;
    float: left;
    padding-bottom: 2em;
    overflow: hidden;
  }
}
#hero-articles-block .hero-medium .article-module .text-container .title a {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
#hero-articles-block .hero-medium .article-module .text-container p {
  font-size: 16px;
  line-height: 22px;
}
#sidebar-reading {
  background: #f5f7fa;
  background-color: #f5f7fa;
  height: 550px;
  margin-top: 20px;
}
#sidebar-reading .nav-tabs > li.active > a,
#sidebar-reading .nav-tabs > li.active > a:hover,
#sidebar-reading .nav-tabs > li.active > a:focus,
#sidebar-reading .nav-tabs > li > a:hover {
  background: transparent;
  border-color: transparent;
  border-bottom: solid 3px #d9e6f0;
  text-decoration: none;
  margin-right: 0;
}
#sidebar-reading .nav-tabs > li {
  float: left;
  text-align: center;
  padding-top: 5px;
  width: 50%;
  border-bottom: none;
}
#sidebar-reading .right-divider {
  border-right: 1px solid #d9d9d9;
}
#sidebar-reading .posts-sidebar {
  position: absolute;
  left: 0;
  padding: 0 15px 30px 15px;
  background: #f5f7fa;
  background-color: #f5f7fa;
  margin-bottom: 15px;
}
#sidebar-reading .posts-sidebar .article-module {
  position: relative;
  height: 75px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  border-top: 1px solid #d9e6f0;
}
#sidebar-reading .posts-sidebar .article-module .image-container {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: none;
}
#sidebar-reading .posts-sidebar .article-module .image-container .img-gradient {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
#sidebar-reading .posts-sidebar .article-module .image-container .article-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: #f5f7fa;
  background-color: #f5f7fa;
  right: -5px;
  top: 20%;
}
#sidebar-reading .posts-sidebar .article-module .text-container {
  height: 65px;
  float: left;
  padding-bottom: 2em;
  overflow: hidden;
  padding-left: 0;
}
#sidebar-reading .posts-sidebar .article-module .text-container .title a {
  display: block;
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #000;
}
#tools-block {
  margin-top: 15px;
  margin-bottom: 15px;
  clear: left;
  display: inline-block;
  border-bottom: 3px solid #d9e6f0;
  padding-bottom: 70px;
}
#tools-block .spacer {
  padding: 0;
}
#tools-block .separator {
  border-right: 1px solid #d9d9d9;
  height: 240px;
}
#tools-block .tool {
  position: relative;
}
@media (max-width: 767px) {
  #tools-block .tool {
    margin: 0;
  }
}
#tools-block .tool a {
  color: #333;
  text-decoration: none;
  position: relative;
}
#tools-block .tool .image-container .icon-top-left {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF;
  margin: 10px;
}
#tools-block .tool .image-container .title {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  margin-top: -34%;
  font-size: 2em;
  line-height: 1em;
  font-weight: 700;
  height: 2em;
  width: 100%;
}
#tools-block p {
  float: left;
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
}
@media (max-width: 767px) {
  #tools-block {
    padding-bottom: 40px;
  }
  #tools-block .separator {
    display: none;
  }
  #tools-block p {
    margin-top: 5px;
  }
}
/*--------------------------------------------------------------
# Category page
--------------------------------------------------------------*/
.article-regular {
  padding: 0;
}
.article-regular .article-module {
  position: relative;
  height: auto;
  margin: 15px 0;
}
.article-regular .article-module .image-container {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: none;
}
.article-regular .article-module .image-container .img-gradient {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
}
.article-regular .article-module .image-container .article-arrow {
  position: absolute;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: #ffffff;
  background-color: #ffffff;
  bottom: -9px;
  left: 9%;
}
.article-regular .article-module .text-container {
  height: 200px;
  float: left;
  padding-bottom: 2em;
  overflow: hidden;
  padding-top: 15px;
  border-bottom: 1px solid #d9e6f0;
  width: 100%;
}
@media (max-width: 990px) {
  .article-regular .article-module .text-container {
    height: auto;
    float: left;
    padding-bottom: 2em;
    overflow: hidden;
  }
}
.article-regular .article-module .text-container .title a {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
.article-regular .article-module .text-container p {
  font-size: 14px;
  line-height: 20px;
}
.article-regular .article-module .text-container .tags {
  font-size: 12px;
}
.category-set-of-3 {
  padding: 0 0 15px 0;
  border-bottom: 2px solid #d9e6f0;
}
@media (max-width: 460px) {
  .category-set-of-3 {
    margin-bottom: 15px;
  }
}
.category-set-of-3 .category-set-header {
  padding: 30px 15px 15px 15px;
}
@media (max-width: 460px) {
  .category-set-of-3 .category-set-header {
    padding: 15px;
  }
}
.category-set-of-3 h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 460px) {
  .category-set-of-3 h2 {
    text-align: center;
  }
}
.category-set-of-3 .category-set-btn {
  padding-right: 0;
  display: inline-block;
}
.category-set-of-3 .category-set-btn .btn-more {
  margin: 0;
}
@media (max-width: 767px) {
  .category-set-of-3 .category-set-btn {
    display: none;
  }
}
.category-set-of-3 .category-set-btn-mobile {
  display: none;
}
@media (max-width: 767px) {
  .category-set-of-3 .category-set-btn-mobile {
    display: inline-block;
  }
  .category-set-of-3 .category-set-btn-mobile .btn-more {
    width: calc(100% - 10px);
    margin: 20px 5px;
  }
}
@media (max-width: 320px) {
  .category-set-of-3 .category-set-btn-mobile {
    display: inline-block;
  }
  .category-set-of-3 .category-set-btn-mobile .btn-more {
    width: calc(100% - 10px);
    margin: 20px 5px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .category-set-of-3 .article-regular .article-module {
    display: none;
  }
  .category-set-of-3 .article-regular .category-set-header + .article-module {
    display: block;
  }
}
.category-set-of-3 .article-regular .article-module {
  padding-bottom: 30px;
}
@media (max-width: 990px) {
  .category-set-of-3 .article-regular .article-module {
    height: auto;
    padding-bottom: 15px;
  }
}
.category-set-of-3 .article-regular .article-module .text-container {
  border-bottom: none;
  width: 100%;
  height: auto;
  padding-bottom: 0;
}
@media (max-width: 990px) {
  .category-set-of-3 .article-regular .article-module .text-container {
    height: auto;
    padding-bottom: 0;
  }
  .category-set-of-3 .article-regular .article-module .text-container .excerpt {
    display: none;
  }
  .category-set-of-3 .article-regular .article-module .text-container .title a {
    display: block;
  }
}
.category-set-of-3 .article-regular .article-module .text-container .title a {
  font-size: 16px;
  line-height: 22px;
}
.category-set-of-3 .article-regular .article-module .text-container p {
  font-size: 16px;
}
.category-set-of-3 .article-regular .article-module .text-container .tags a {
  font-size: 14px;
}
/*--------------------------------------------------------------
# Breadcrumb
--------------------------------------------------------------*/
.breadcrumbs {
  font-size: 12px;
  display: block;
}
.breadcrumbs a.taxonomy.category {
  color: #333;
}
@media only screen and (max-width: 1200px) {
  .breadcrumbs {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .breadcrumbs {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  #primary {
    margin-top: 50px;
  }
}
/*--------------------------------------------------------------
# Article
--------------------------------------------------------------*/
img.attachment-post-thumbnail.wp-post-image {
  width: 100%;
  height: auto;
}
.viewjobs {
  clear: both;
  display: block;
}
article .entry-header h1 {
  line-height: 50px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  article .entry-header h1 {
    line-height: 40px;
  }
}
article .entry-content p.post-author {
  margin-top: 10px;
}
@media (max-width: 990px) {
  article .entry-content img {
    width: 100%;
    height: auto;
  }
}
article .entry-content .highlight {
  border-bottom: 0px solid #e05b88;
}
article .entry-content h3 {
  line-height: 26px;
  font-weight: 600;
  font-size: 22px;
  margin: 30px 0 10px;
}
article .entry-content .panel-body h3 {
  margin-top: 0;
}
@media only screen and (max-width: 470px) {
  article .entry-content h3 {
    line-height: 23px;
    font-size: 20px;
  }
}
article .entry-content ul {
  margin-top: 15px;
  margin-bottom: 40px;
  list-style: none;
}
article .entry-content ul li {
  margin: 10px 0;
  font-size: 18px;
}
article .entry-content ul li:before {
  font-family: 'FontAwesome';
  content: '\f054';
  margin: 0 15px 0 -15px;
  color: #000;
}
@media only screen and (max-width: 470px) {
  article .entry-content ul li:before {
    margin: 0 10px 0 -25px;
  }
}
article .entry-content ol {
  margin-top: 15px;
  margin-bottom: 40px;
}
article .entry-content ol li {
  margin: 10px 0;
  font-size: 18px;
}
article .entry-content .article-quote .quote-left {
  text-align: left;
  color: #000;
  font-size: 2.5em;
}
article .entry-content .article-quote .quote {
  font-style: italic;
}
article .entry-content .article-quote .quote p {
  margin: 0 auto;
  width: 90%;
}
article .entry-content .article-quote .quote-right {
  text-align: right;
  color: #000;
  font-size: 2.5em;
}
article .entry-content .addthis_toolbox {
  margin-top: 10px;
  clear: left;
}
@media only screen and (max-width: 470px) {
  article .entry-content .addthis_toolbox {
    margin-top: 10px;
  }
}
article .entry-content .book .img-container {
  margin-bottom: 15px;
  height: 250px;
}
@media only screen and (max-width: 767px) {
  article .entry-content .book .img-container {
    margin-bottom: 10px;
    height: auto;
  }
  article .entry-content .book .img-container img {
    width: 100%;
  }
}
article .entry-content .book .author a {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  article .entry-content .book .author a {
    font-size: 14px;
  }
}
article .entry-content .book .title a {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  article .entry-content .book .title a {
    font-size: 14px;
  }
}
article .entry-footer {
  margin-top: 30px;
}
article .entry-footer .cat-links {
  clear: left;
  float: left;
  margin-bottom: 30px;
}
article .entry-footer .cat-links a {
  border: 1px solid #D6D6D6;
  color: #333;
  border-radius: 4px;
  padding: 3px 15px;
  margin: 5px 15px 5px 0px;
}
article .entry-footer .cat-links a:hover {
  border: 1px solid #333;
  text-decoration: none;
}
article .entry-footer .tags-links {
  clear: left;
  float: left;
  display: none;
}
article .entry-footer .tags-links a {
  color: #333;
  margin-right: 10px;
  margin-bottom: 10px;
}
article .entry-footer .edit-link {
  clear: left;
  float: left;
  text-align: center;
  margin: 30px 0;
  background: #f27007;
  padding: 10px 10px;
  width: 100px;
  border-radius: 4px;
}
article .entry-footer .edit-link a {
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
}
nav .screen-reader-text {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .widget-area {
    display: none;
  }
}
/*--------------------------------------------------------------
# Career guides
--------------------------------------------------------------*/
.career-guide-module {
  position: relative;
  height: auto;
  margin: 15px 0;
}
.career-guide-module .image-container {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: none;
}
.career-guide-module .image-container .img-gradient {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  /* W3C */
}
.career-guide-module .image-container .article-arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  background: #ffffff;
  background-color: #ffffff;
  bottom: -8px;
  left: 10%;
}
.career-guide-module .text-container {
  height: auto;
  float: left;
  padding-bottom: 2em;
  overflow: hidden;
  min-height: 4em;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 0;
  border-bottom: 1px solid #d9e6f0;
}
.career-guide-module .text-container .title a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.filter-section {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f5f7fa;
  background-color: #f5f7fa;
  border-top: 1px solid #d9e6f0;
  border-bottom: 1px solid #d9e6f0;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.filter-section .filter-bar p:focus {
  outline: none;
}
.filter-section .post-tags label {
  display: inline-block;
  margin-top: 15px;
}
.filter-section .post-tags input[type="submit"] {
  clear: left;
  float: right;
  color: #FFFFFF;
  background: #f27007;
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}
.filter-section .post-tags input[type="checkbox"] {
  margin-right: 10px;
}
.filtered-tags {
  margin: 0 3px 0 3px;
  color: #999;
}
.clear-tags {
  color: #0079d6;
  padding: 0;
  margin: 0 3px 0 3px;
}
.no-btn {
  font-size: 18px;
  background: none;
  border: none;
  margin-bottom: 15px;
  padding: 0;
}
.close-btn {
  display: none;
}
/*--------------------------------------------------------------
# Now hiring block
--------------------------------------------------------------*/
#now-hiring-block {
  clear: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
#now-hiring-block .now-hiring {
  margin-bottom: 15px;
}
#now-hiring-block p {
  margin-top: 30px;
}
#now-hiring-block a.btn.btn-more {
  margin-top: 30px;
}
/*--------------------------------------------------------------
# Search results
--------------------------------------------------------------*/
.input-group {
  width: 100%;
}
.input-group .form-control {
  width: calc(100% - 90px);
}
.input-group-addon {
  width: 90px;
  height: 34px;
  float: left;
  background: #f27007;
  background-color: #f27007;
  color: white;
}
.input-group-addon:hover {
  background: #d85808;
  background-color: #d85808;
}
.search-form {
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f5f7fa;
  background-color: #f5f7fa;
  border-top: 1px solid 'none';
  border-bottom: 1px solid 'none';
  width: 100%;
  margin: 15px 0 30px 0;
}
.search-form p {
  text-align: center;
  margin: 15px 0 30px 0;
}
/*--------------------------------------------------------------
# Career Guide post
--------------------------------------------------------------*/
#job-stats {
  background: #f5f7fa;
  background-color: #f5f7fa;
  height: 230px;
  margin: 15px 0;
  border-radius: 4px;
  border: 1px solid #d9e6f0;
}
#job-stats .job-stats {
  box-sizing: border-box;
  text-align: center;
  margin: 15px 0;
  border-left: 1px solid #d9e6f0;
  height: 85%;
}
#job-stats .job-stats p:last-child {
  margin-bottom: 15px;
}
#job-stats .job-stats .stat {
  font-size: 2em;
  margin-top: 15px;
}
#job-stats .job-stats .stat-description {
  width: 80%;
  margin: 0 auto;
}
#job-stats .job-stats:first-child {
  border: none;
}
@media (max-width: 470px) {
  #job-stats {
    height: 200px;
    margin: 10px 0;
  }
  #job-stats .job-stats {
    height: 170px;
    margin: 10px 0;
  }
  #job-stats .job-stats p:last-child {
    margin-bottom: 5px;
  }
  #job-stats .job-stats .stat {
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 2px;
  }
  #job-stats .job-stats .stat-description {
    width: 95%;
    font-size: 0.9em;
    line-height: 1.2em;
  }
}
.course-blocks {
  width: 48%;
  margin-right: 1%;
  margin-left: 1%;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #f5f7fa;
  background-color: #f5f7fa;
}
.courses-btn {
	width: 175px;
	height: 35px;
	display: block;
	line-height: 35px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: -10px;
	color: #fff !important;
	background-color: #f27007;
}
@media (max-width: 470px) {
  .course-blocks {
    width: 98%;
  }
}
.course-blocks .title a {
  color: #7aa730;
  font-size: 20px;
}
.course-blocks p {
  font-size: 14px;
}
.course-blocks a {
  color: #7aa730;
  font-size: 13px;
}
.progression-chart {
  text-align: center;
  margin-top: 20px;
}
.progression-chart img {
  margin-bottom: 20px;
  width: auto !important;
}
.progression-chart .progress-arrow {
  margin-bottom: 0;
  margin-top: 20px;
}
.progression-chart .job-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}
.progression-chart .job-pay {
  color: #e05b88;
  font-size: 14px;
}
@media (max-width: 767px) {
  .progression-chart .progress-arrow {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-top: 0;
  }
}
/*--------------------------------------------------------------
# All posts
--------------------------------------------------------------*/
.all-posts h1 {
  margin-bottom: 10px;
}
.all-posts h3 {
  clear: left;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  border-bottom: 1px solid #d9d9d9;
  width: calc(100% - 30px);
  padding-top: 30px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.all-posts ol {
  padding: 0;
}
.all-posts li {
  list-style: none;
}
/*--------------------------------------------------------------
# 404
--------------------------------------------------------------*/
.error-404 h1 {
  text-align: center;
}
/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.btn-pagination {
  color: #0079d6;
  border: 0;
  font-size: 12px;
  font-weight: 400;
}
.btn-pagination-numbers-inactive {
  border: 1px solid #0079d6;
}
.btn-pagination-numbers {
  width: 40px;
  height: 40px;
}
.btn-pagination-numbers :hover {
  border: 1px solid #0079d6;
}
.btn-pagination-text :hover {
  color: #00487f;
}
.btn-pagination-text-inactive {
  color: #ccc;
}
.pagination li {
  display: inline-block;
}
.pagination li > a,
.pagination li > span {
  border: 1px solid #fff;
  color: #0079d6;
}
.pagination .active > a,
.pagination .active > span,
.pagination .active > a:hover,
.pagination .active > span:hover,
.pagination .active > a:focus,
.pagination .active > span:focus,
.pagination li > a:hover,
.pagination li > span:hover,
.pagination li > a:focus,
.pagination li > span:focus {
  color: #0079d6;
  border: 1px solid #0079d6;
  background-color: #FFF;
  background: #FFF;
}
.pagination .disabled > span,
.pagination .disabled > span:hover,
.pagination .disabled > span:focus,
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus {
  border: none;
  color: #757575;
  background-color: transparent;
}
/*--------------------------------------------------------------
# Adverts
--------------------------------------------------------------*/
.dfp-ad-widget-class {
  text-align: center;
}
.leaderboard-ad {
  display: block;
  margin-top: 15px;
}
@media (max-width: 728px) {
  .leaderboard-ad {
    display: none;
  }
}
.article-module .dfp_ad_pos {
  text-align: center;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  .article-module .dfp_ad_pos {
    visibility: hidden;
  }
}
@media only screen and (max-width: 470px) {
  .article-module .dfp_ad_pos {
    position: relative;
    visibility: visible;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-info {
  margin-top: 50px;
}
/*# sourceMappingURL=css/reed-styles.css.map */