/************************************************

	**Contents**
		# - Utilities
			# - Variables
			# - Mixins
			# - Feature detect
		# - Navigation
		# - Universal
			# - Headers
		# - Home page
		# - Category page
		# - Breadcrumb
		# - Article
		# - Article tags
		# - Career guides
		# - Now hiring block
		# - Search results
		# - All posts

************************************************/
/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	# Variables
--------------------------------------------------------------*/
/* break-points */
/* NAV */
/* Text */
/* Lines */
/* Carousel*/
/* Cut corner sizes*/
/* Container backgrounds */
/* Text links */
/* Our work active styles */
/* Call to actions */
/* images */
/*grid break points*/
/*--------------------------------------------------------------
	# Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
	# H tags
--------------------------------------------------------------*/
h1, h2, h3, h4 {
  font-weight: 700; }

h1 {
  font-size: 40px; }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 36px; } }

/**************************************/
body {
  background-color: #ebebeb; }

.content-bg {
  background-color: #ffffff; }

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  border-top: 3px solid #ebebeb; }

.bold {
  font-weight: 700; }

/**************************************/
.button-container {
  display: inline-block; }

.btn-action, .wpforms-submit {
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  padding: 3px 9px 3px 15px;
  color: #252525;
  background-color: #0afff9;
  border-radius: 20px; }
  .btn-action:hover, .btn-action:focus, .btn-action.focus, .wpforms-submit:hover, .wpforms-submit:focus, .wpforms-submit.focus {
    color: #252525;
    text-decoration: none;
    background-color: #09e5e0; }
  .btn-action:active, .btn-action.active, .wpforms-submit:active, .wpforms-submit.active {
    color: #0afff9;
    background-color: #252525; }
  .btn-action .fa-chevron-right, .wpforms-submit .fa-chevron-right {
    margin-top: 4px;
    margin-left: 5px; }

.site-branding {
  background-color: #252525;
  padding: 20px 85px 20px 20px;
  max-height: 65px;
  height: 65px; }
  @media only screen and (max-width: 480px) {
    .site-branding {
      height: 40px;
      padding: 7px 85px 20px 20px; } }
  .site-branding img {
    width: 195px; }
    @media only screen and (max-width: 480px) {
      .site-branding img {
        width: 152px; } }

.site-content {
  padding-top: 50px; }

a.top-bar-links {
  padding: 5px 5px 0;
  text-decoration: none;
  color: #0afff9; }
  a.top-bar-links:focus {
    color: white; }
  a.top-bar-links:hover {
    color: white; }

@media only screen and (max-width: 768px) {
  .site-footer {
    overflow: hidden;
    position: relative; }
    .site-footer::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 30px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: #252525 #252525 transparent transparent; } }

.footer-social-link-container {
  width: 20%;
  float: left; }

.social-links-bottom {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px; }

a.bottom-bar-links {
  width: 50px;
  height: 50px;
  font-size: 28px;
  padding: 5px 5px 0;
  text-decoration: none;
  color: white; }
  a.bottom-bar-links:focus {
    color: #0afff9; }
  a.bottom-bar-links:hover {
    color: #0afff9; }

@media only screen and (max-width: 480px) {
  .drawer .drawer-toggle {
    width: 40px;
    height: 40px;
    padding: 0px 10px; } }

@media only screen and (max-width: 480px) {
  .drawer .drawer-toggle .drawer-hamburger-icon {
    margin-top: 0; } }

@media only screen and (max-width: 480px) {
  .drawer .drawer-toggle .drawer-hamburger-icon::before {
    top: -7px; } }

@media only screen and (max-width: 480px) {
  .drawer .drawer-toggle .drawer-hamburger-icon::after {
    top: 7px; } }

@media only screen and (max-width: 480px) {
  .drawer.drawer-open .drawer-toggle .drawer-hamburger-icon::before {
    top: 0; }
  .drawer.drawer-open .drawer-toggle .drawer-hamburger-icon::after {
    top: 0; } }

.drawer-open .drawer-overlay {
  display: none; }

.drawer-menu :focus {
  color: white;
  text-decoration: none; }

@media only screen and (max-width: 480px) {
  .drawer-menu .drawer-dropdown-menu .drawer-menu-item {
    font-size: 18px;
    height: auto;
    padding: 8px 20px 7px 40px; } }

@media only screen and (max-width: 480px) {
  .drawer-menu .drawer-menu-item {
    font-size: 18px;
    height: auto;
    padding: 8px 20px 7px 20px; } }

.drawer-menu .drawer-dropdown-menu {
  background-color: #2a2a2a; }
  .drawer-menu .drawer-dropdown-menu > .item > .drawer-menu-item {
    background-color: #2a2a2a; }

.drawer-menu > .item > .drawer-menu-item:hover {
  overflow: hidden;
  position: relative; }
  .drawer-menu > .item > .drawer-menu-item:hover::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 10px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #3f3f3f #3f3f3f transparent transparent; }

.drawer-menu > .drawer-dropdown > .drawer-menu-item.active-drawer {
  background-color: #2a2a2a;
  overflow: hidden;
  position: relative; }
  .drawer-menu > .drawer-dropdown > .drawer-menu-item.active-drawer::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 10px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #3f3f3f #3f3f3f transparent transparent; }

.drawer-menu > .drawer-dropdown > .drawer-menu-item:hover {
  overflow: hidden;
  position: relative; }
  .drawer-menu > .drawer-dropdown > .drawer-menu-item:hover::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 10px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #3f3f3f #3f3f3f transparent transparent; }

.drawer-hamburger {
  transition: right 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, 0, 0); }

.drawer--right.drawer-open .drawer-hamburger {
  right: calc(100% - 40px); }
  .drawer--right.drawer-open .drawer-hamburger.active-burger {
    background-color: #3f3f3f; }
    .drawer--right.drawer-open .drawer-hamburger.active-burger > .drawer-hamburger-icon::before {
      background-color: #0afff9; }
    .drawer--right.drawer-open .drawer-hamburger.active-burger > .drawer-hamburger-icon::after {
      background-color: #0afff9; }
  .drawer--right.drawer-open .drawer-hamburger:hover > .drawer-hamburger-icon {
    background-color: #3f3f3f; }
  @media only screen and (min-width: 350px) {
    .drawer--right.drawer-open .drawer-hamburger {
      right: 293px; } }
  @media only screen and (min-width: 480px) {
    .drawer--right.drawer-open .drawer-hamburger {
      right: 365px; } }

.drawer--right .drawer-nav {
  right: calc(0px - 100% + 40px);
  width: calc(100% - 40px); }
  @media only screen and (min-width: 350px) {
    .drawer--right .drawer-nav {
      right: -293px;
      width: 293px; } }
  @media only screen and (min-width: 480px) {
    .drawer--right .drawer-nav {
      right: -365px;
      width: 365px; } }

.drawer-hamburger:visited {
  background-color: #3f3f3f; }

.drawer-hamburger:active {
  background-color: #3f3f3f; }

.drawer-hamburger:hover {
  background-color: #3f3f3f; }

.arrow-gap {
  display: inline-block;
  margin-left: 10px; }
  .arrow-gap .fa {
    color: #0afff9; }

.carousel-col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
  @media only screen and (max-width: 767px) {
    .carousel-col-md-12 {
      position: relative;
      min-height: 1px;
      padding-right: 0px;
      padding-left: 0px; } }

@media only screen and (max-width: 768px) {
  .hero-module {
    background-color: #515151; } }

.hero-block {
  padding-left: 0px;
  padding-right: 0px; }
  @media only screen and (min-width: 1200px) {
    .hero-block {
      padding-left: 15px;
      padding-right: 15px; } }

.carousel-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .carousel-text-container {
      position: relative; } }
  .carousel-text-container .row {
    margin-right: 0px;
    margin-left: 0px; }
  .carousel-text-container .carousel-text-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3f3f3f;
    opacity: .7;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 767px) {
      .carousel-text-container .carousel-text-background {
        background-color: #595959;
        opacity: 1; } }
  .carousel-text-container .carousel-text {
    padding: 15px 40px 40px 40px;
    color: white; }
    @media only screen and (max-width: 767px) {
      .carousel-text-container .carousel-text {
        padding-left: 5px;
        padding-right: 5px; } }
  .carousel-text-container .carousel-body {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.2; }
    @media only screen and (max-width: 767px) {
      .carousel-text-container .carousel-body {
        font-size: 16px; } }

.carousel-inner {
  max-height: 100%; }
  @media only screen and (max-width: 767px) {
    .carousel-inner {
      max-height: 100%; } }
  .carousel-inner img {
    width: 100%;
    height: auto; }

@media only screen and (max-width: 767px) {
  .carousel-indicators {
    display: none; } }

.carousel-cut-corner {
  overflow: hidden;
  position: relative; }
  .carousel-cut-corner::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 30px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #ebebeb #ebebeb transparent transparent; }

.fa-chevron-left, .glyphicon-menu-left {
  left: 0; }
  @media only screen and (max-width: 767px) {
    .fa-chevron-left, .glyphicon-menu-left {
      left: 0; } }

.fa-chevron-right, .glyphicon-menu-right {
  right: 0; }
  @media only screen and (max-width: 767px) {
    .fa-chevron-right, .glyphicon-menu-right {
      right: 0; } }

.carousel-counter {
  width: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  margin-right: calc(45px + 45px + 3%); }
  .carousel-counter > .slide-number-text-container {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 8%;
    top: auto;
    color: white; }
    @media only screen and (max-width: 768px) {
      .carousel-counter > .slide-number-text-container {
        bottom: 5%; } }
    .carousel-counter > .slide-number-text-container > i {
      font-size: 0.8em; }

.carousel-control {
  width: 45px;
  width: 45px;
  position: absolute;
  bottom: 6%;
  top: auto;
  font-size: 25px; }
  @media only screen and (max-width: 767px) {
    .carousel-control {
      bottom: 3%; } }
  .carousel-control .fa, .carousel-control .glyphicon {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    color: #0afff9;
    opacity: 1; }

.glyphicon-menu-left:before {
  position: absolute;
  top: 6px;
  left: 7px; }

.glyphicon-menu-right:before {
  position: absolute;
  top: 6px;
  left: 7px; }

.left.carousel-control {
  right: 0;
  left: auto;
  margin-right: calc(3% + 45px); }

.right.carousel-control {
  margin-right: 3%; }

.carousel-indicators {
  display: none; }

.our-work-topbox {
  color: white; }
  @media only screen and (max-width: 768px) {
    .our-work-topbox {
      padding-left: 15px;
      padding-right: 15px; } }

.our-work-bottombox {
  overflow: hidden;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  background-color: #3f3f3f;
  color: white; }
  .our-work-bottombox::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 20px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #595959 #595959 transparent transparent; }
  .our-work-bottombox h2 {
    font-size: 22px; }
  .our-work-bottombox p {
    margin-bottom: 10px; }

.our-work-row {
  background-color: #595959;
  margin-left: -15px;
  margin-right: -15px; }
  @media only screen and (min-width: 768px) {
    .our-work-row {
      margin-left: 25px;
      margin-right: 25px; } }

.our-work-cut-corner {
  border-top: solid 2px #0afff9;
  overflow: hidden;
  position: relative; }
  .our-work-cut-corner::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 30px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #0afff9 #0afff9 transparent transparent; }

.our-work-link-container {
  padding: 0;
  margin-top: 15px; }
  .our-work-link-container li {
    list-style: none; }
  .our-work-link-container i {
    font-size: 14px; }
  .our-work-link-container a {
    text-decoration: none;
    color: #0afff9; }
    .our-work-link-container a:hover {
      text-decoration: none;
      color: #09e5e0; }

.article-image img {
  width: 100%;
  height: auto; }

.set-image-padding {
  padding-right: 0; }
  @media only screen and (max-width: 767px) {
    .set-image-padding {
      padding-left: 0; } }

.set-text-padding {
  padding-left: 20px;
  padding-right: 20px; }
  @media only screen and (max-width: 768px) {
    .set-text-padding {
      padding-left: 20px;
      padding-right: 20px; } }

@media only screen and (min-width: 992px) {
  .page-image {
    overflow: hidden;
    position: relative; }
    .page-image::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 30px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: #ebebeb #ebebeb transparent transparent; } }

.page-image img {
  width: 100%;
  height: auto; }

.no-padding-header {
  padding-left: 0px;
  padding-right: 0px; }

.page-content-corner {
  overflow: hidden;
  position: relative;
  border-top: 3px solid #ebebeb;
  padding: 10px 0;
  margin-top: 30px;
  margin-left: 25px; }
  .page-content-corner::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 30px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #ebebeb #ebebeb transparent transparent; }
  @media only screen and (max-width: 992px) {
    .page-content-corner {
      margin-left: 0px; } }

.widget-area {
  margin-right: 25px; }
  @media only screen and (max-width: 992px) {
    .widget-area {
      margin-right: 0px; } }

article p {
  margin-bottom: 1rem; }

.latest-articles {
  padding-left: 40px;
  padding-right: 40px; }
  @media only screen and (max-width: 767px) {
    .latest-articles {
      padding-left: 20px;
      padding-right: 20px; } }

.three-col-articles {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .three-col-articles .article-module {
    margin-bottom: 30px; }
    .three-col-articles .article-module .article-date {
      font-size: 13px;
      margin-bottom: 5px; }
    .three-col-articles .article-module .article-title a {
      display: block;
      font-size: 18px;
      color: #252525;
      text-decoration: none;
      margin-bottom: 10px; }
    .three-col-articles .article-module .article-excerpt {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 25px; }
    .three-col-articles .article-module .image-container {
      overflow: hidden;
      position: relative;
      margin-bottom: 10px; }
      .three-col-articles .article-module .image-container::after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-width: 30px;
        border-style: solid;
        top: 0;
        right: 0;
        border-color: white white transparent transparent; }
      .three-col-articles .article-module .image-container img {
        /* border set below is used to hide the gap
         * between cut-corner triangle and image
         */
        border-top: 1px solid white;
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
        .three-col-articles .article-module .image-container img:hover {
          transform: scale(1.2);
          transition: all 0.3s;
          -webkit-transition: all 0.3s; }

.set-view-all-padding {
  padding-right: 40px; }

.latest-arrow-bottom {
  height: 95px;
  margin-top: 40px;
  border-top: 1px solid #ebebeb; }
  .latest-arrow-bottom a.btn-action {
    margin-top: 30px; }

.latest-articles-post {
  position: relative;
  border-top: 4px solid #ebebeb;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 15px; }
  .latest-articles-post::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 30px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #ebebeb #ebebeb transparent transparent; }
  @media only screen and (max-width: 992px) {
    .latest-articles-post {
      margin-bottom: 10px; } }
  .latest-articles-post .latest-articles {
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px; }
  @media only screen and (max-width: 992px) {
    .latest-articles-post .article-module {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 768px) {
    .latest-articles-post .article-module {
      margin-bottom: 20px; } }
  .latest-articles-post .article-module .image-container {
    overflow: hidden;
    position: relative; }
    .latest-articles-post .article-module .image-container::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 10px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: white white transparent transparent; }
    .latest-articles-post .article-module .image-container a img {
      width: 100%;
      height: auto;
      transform: scale(1);
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
      .latest-articles-post .article-module .image-container a img:hover {
        transform: scale(1.2);
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
  .latest-articles-post .button-container {
    margin-top: 10px; }
    .latest-articles-post .button-container p {
      margin-bottom: 0; }
  .latest-articles-post .article-title {
    margin-top: 10px;
    margin-bottom: 0; }
    .latest-articles-post .article-title a {
      margin-bottom: 0;
      color: #252525;
      text-decoration: none; }

.support-row {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px; }
  @media only screen and (max-width: 767px) {
    .support-row {
      padding-left: 15px;
      padding-right: 15px; } }

.support-block {
  padding-right: 40px; }
  @media only screen and (max-width: 767px) {
    .support-block {
      padding-left: 5px;
      padding-right: 5px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .support-block {
      padding-left: 15px;
      padding-right: 15px; } }
  .support-block .supported-by {
    margin-top: 15px;
    margin-bottom: 15px; }
  .support-block .supported-by-images {
    width: 100%; }
  .support-block .btn {
    margin-top: 20px; }

.fund-block {
  padding-left: 40px; }
  @media only screen and (max-width: 768px) {
    .fund-block {
      padding-left: 5px;
      padding-right: 5px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fund-block {
      padding-left: 15px;
      padding-right: 15px; } }
  .fund-block .donation-card-image {
    width: 100%; }
  .fund-block p {
    font-size: 18px; }
    @media only screen and (max-width: 767px) {
      .fund-block p {
        font-size: 16px; } }
  .fund-block .btn {
    margin-top: 20px; }
    .fund-block .btn p {
      font-size: 14px; }

.make-dontation {
  margin-top: 20px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .make-dontation {
      width: 50%;
      margin-top: -29px;
      margin-left: 50%; } }

.quote-block {
  overflow: hidden;
  position: relative;
  position: relative;
  background-color: #0afff9;
  text-align: center;
  padding: 35px 15px;
  margin: 40px 25px; }
  .quote-block::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 30px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: white white transparent transparent; }
  @media only screen and (max-width: 767px) {
    .quote-block {
      overflow: hidden;
      position: relative;
      padding: 10px 20px 0px 20px;
      padding-bottom: 40px;
      background-color: #0afff9;
      margin: 0px 5px 40px 5px; }
      .quote-block::after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-width: 20px;
        border-style: solid;
        top: 0;
        right: 0;
        border-color: white white transparent transparent; } }
  .quote-block .fp-quote {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    width: 90%;
    margin: 30px auto; }
    @media only screen and (max-width: 767px) {
      .quote-block .fp-quote {
        width: 100%;
        font-size: 18px; } }
  .quote-block .fb-signature {
    color: #252525;
    font-size: 18px; }
    @media only screen and (max-width: 767px) {
      .quote-block .fb-signature {
        font-size: 14px; } }

article .entry-header {
  margin-top: 30px; }
  article .entry-header .post-image-container {
    overflow: hidden;
    position: relative; }
    article .entry-header .post-image-container::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 30px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: white white transparent transparent; }
  article .entry-header .article-date {
    margin-top: 15px; }

/*****************************************************************************************/
img {
  width: 100%;
  height: auto; }

/*****************************************************************************************/
.category-image img {
  width: 100%; }

.panel-group {
  margin-top: 25px; }

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 0; }

.panel-group .panel {
  border-radius: 0; }

.btn-more {
  margin-top: 20px;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  color: #4417ff;
  display: block; }

.panel-ourwork {
  border-top: solid 2px #ebebeb; }
  .panel-ourwork .panel-heading {
    padding: 20px 15px; }
  .panel-ourwork .panel-title > a {
    text-decoration: none; }
  .panel-ourwork:active, .panel-ourwork:focus {
    overflow: hidden;
    position: relative;
    border-top: solid 2px #0afff9; }
    .panel-ourwork:active::after, .panel-ourwork:focus::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 10px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: #0afff9 #0afff9 transparent transparent; }
  .panel-ourwork:hover {
    overflow: hidden;
    position: relative; }
    .panel-ourwork:hover::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 10px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: #0afff9 #0afff9 transparent transparent; }

.active-panel {
  border-top: solid 2px #0afff9;
  overflow: hidden;
  position: relative; }
  .active-panel::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: 10px;
    border-style: solid;
    top: 0;
    right: 0;
    border-color: #0afff9 #0afff9 transparent transparent; }

.textwidget {
  position: relative;
  padding-top: 30px; }
  .textwidget > h2 {
    font-size: 22px;
    font-weight: 700; }
  .textwidget > p {
    font-size: 16px;
    line-height: 1.2; }
  .textwidget .get-involved-triangle {
    overflow: hidden;
    position: relative; }
    .textwidget .get-involved-triangle::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 20px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: white white transparent transparent; }
  .textwidget .get-involved-widget {
    overflow: hidden;
    position: relative;
    border: 15px solid #c3fff9;
    padding: 0 15px 15px 15px; }
    .textwidget .get-involved-widget::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 20px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: #c3fff9 #c3fff9 transparent transparent; }
    .textwidget .get-involved-widget .btn-action {
      margin-top: 15px; }
  .textwidget .award-widget {
    overflow: hidden;
    position: relative;
    background-color: #ebebeb;
    padding: 0 30px 30px 30px; }
    .textwidget .award-widget::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 20px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: white white transparent transparent; }
    .textwidget .award-widget .btn-action {
      margin-top: 15px; }
  .textwidget .quote-widget {
    overflow: hidden;
    position: relative;
    border-top: 3px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;
    padding: 30px; }
    .textwidget .quote-widget::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 20px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: #ebebeb #ebebeb transparent transparent; }
    .textwidget .quote-widget .widget-quote {
      font-size: 18px;
      width: 85%; }
    .textwidget .quote-widget .widget-quote-author {
      font-size: 16px;
      margin-top: 10px; }
    .textwidget .quote-widget .widget-quote-author-title {
      font-size: 14px; }

.our-work-block {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px; }
  @media only screen and (min-width: 768px) {
    .our-work-block {
      padding-left: 25px;
      padding-right: 25px; } }
  .our-work-block .ourwork-articles-button {
    padding-bottom: 20px;
    border-bottom: solid 1px #ebebeb; }

.get-involved-block {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px; }
  .get-involved-block .three-col-articles .article-module .image-container {
    overflow: hidden;
    position: relative;
    border-top: 2px #0afff9 solid;
    margin-bottom: 10px; }
    .get-involved-block .three-col-articles .article-module .image-container::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      border-width: 20px;
      border-style: solid;
      top: 0;
      right: 0;
      border-color: #0afff9 #0afff9 transparent transparent; }
    .get-involved-block .three-col-articles .article-module .image-container img {
      border-top: none;
      width: 100%;
      height: 100%; }
  .get-involved-block .three-col-articles .article-module .get-involved-article-buttons {
    padding-bottom: 20px;
    border-bottom: solid 1px #ebebeb;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 350px) {
      .get-involved-block .three-col-articles .article-module .get-involved-article-buttons {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media only screen and (min-width: 768px) and (max-width: 1010px) {
      .get-involved-block .three-col-articles .article-module .get-involved-article-buttons {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .get-involved-block .three-col-articles .article-module .get-involved-article-buttons .btn-more {
      margin-top: 0; }
    .get-involved-block .three-col-articles .article-module .get-involved-article-buttons .get-involved-link {
      padding-left: 0px;
      padding-right: 0px; }
    .get-involved-block .three-col-articles .article-module .get-involved-article-buttons .get-involved-btn {
      text-align: right;
      padding-left: 0px;
      padding-right: 0px; }
      @media only screen and (max-width: 350px) {
        .get-involved-block .three-col-articles .article-module .get-involved-article-buttons .get-involved-btn {
          text-align: left;
          margin-top: 20px; } }
      @media only screen and (min-width: 768px) and (max-width: 1010px) {
        .get-involved-block .three-col-articles .article-module .get-involved-article-buttons .get-involved-btn {
          text-align: left;
          margin-top: 20px; } }

/*************************************/
.panel-ourwork:visited .panel-ourwork:active, .panel-ourwork:focus {
  overflow: hidden;
  position: relative;
  border-top: solid 2px #0afff9; }

/************************************/
.site-info {
  position: relative; }
  @media only screen and (min-width: 768px) {
    .site-info {
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 5px; } }

.site-copyright {
  position: relative; }
  @media only screen and (max-width: 768px) {
    .site-copyright {
      margin-left: -15px;
      margin-right: -15px; } }

.site-info-bg {
  background-color: #3f3f3f; }
  @media only screen and (max-width: 768px) {
    .site-info-bg {
      padding-left: 0;
      padding-right: 0; } }

.site-copyright-bg {
  background-color: #252525; }

.address {
  margin-top: 10px; }
  @media only screen and (min-width: 768px) {
    .address {
      margin-top: -105px;
      padding-left: 10px;
      padding-right: 0px; } }
  @media only screen and (min-width: 540px) and (max-width: 767px) {
    .address {
      margin-top: -105px; } }
  @media only screen and (min-width: 992px) {
    .address {
      margin-top: -5px;
      padding-left: 11px; } }

.email {
  padding-left: 15px;
  padding-right: 15px; }
  @media only screen and (min-width: 540px) and (max-width: 767px) {
    .email {
      margin-top: -25px; } }
  @media only screen and (min-width: 768px) {
    .email {
      margin-top: -25px;
      padding-left: 0px;
      padding-right: 0px; } }
  @media only screen and (min-width: 992px) {
    .email {
      margin-top: 0px; } }

@media only screen and (min-width: 768px) {
  .telephone {
    padding-left: 0px;
    padding-right: 0px; } }

@media only screen and (min-width: 992px) {
  .telephone {
    margin-top: 0px; } }

.info-symbols {
  position: relative;
  height: 100%;
  margin-top: 5px;
  display: block;
  float: left; }
  .info-symbols > .fa {
    color: white; }
  .info-symbols > .fa-map-marker {
    margin-right: 11px;
    font-size: 18px; }
  .info-symbols > .fa-envelope {
    margin-right: 5px;
    font-size: 12px;
    margin-left: 10px; }
    @media only screen and (max-width: 767px) {
      .info-symbols > .fa-envelope {
        margin-left: 0px; } }
  .info-symbols > .fa-phone {
    margin-right: 5px;
    font-size: 16px;
    margin-left: 10px; }
    @media only screen and (max-width: 767px) {
      .info-symbols > .fa-phone {
        margin-left: 0px; } }
  .info-symbols > .email-custom-class {
    text-decoration: underline; }
    @media only screen and (min-width: 540px) and (max-width: 767px) {
      .info-symbols > .email-custom-class {
        margin-right: 0; } }
  .info-symbols > a {
    margin-right: 20px; }
    @media only screen and (min-width: 992px) {
      .info-symbols > a {
        margin-right: 0px; } }

.upper-footer {
  padding: 20px;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .upper-footer {
      padding: 20px 5px; } }
  @media only screen and (min-width: 992px) {
    .upper-footer {
      padding: 20px 25px 20px 25px; } }
  .upper-footer * a {
    font-size: 16px;
    color: white;
    text-decoration: none; }
  .upper-footer * .fa-chevron-right {
    color: white;
    font-size: 12px;
    margin-left: 5px; }
  @media only screen and (min-width: 730px) {
    .upper-footer .footer-logo {
      width: 75%; } }
  @media only screen and (min-width: 992px) {
    .upper-footer .footer-logo {
      width: 70%; } }
  @media only screen and (min-width: 1200px) {
    .upper-footer .footer-logo {
      width: 65%; } }

.lower-footer {
  height: 60px;
  padding: 20px 20px 10px 20px;
  color: white;
  font-size: 16px; }
  @media only screen and (max-width: 767px) {
    .lower-footer {
      padding: 20px 5px 10px 5px; } }

@media only screen and (min-width: 320px) and (max-width: 539px) {
  .block-margin {
    margin-top: 20px; } }

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .block-margin {
    margin-top: 20px; } }

@media only screen and (min-width: 768px) {
  .block-margin {
    margin-top: 20px; } }

@media only screen and (min-width: 1200px) {
  .block-margin {
    margin-top: 0px; } }

@media only screen and (min-width: 992px) {
  .adjust-margin {
    margin-top: -105px; } }

@media only screen and (min-width: 1200px) {
  .adjust-margin {
    margin-top: 0px; } }

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .custom-breakpoint {
    width: 50%; } }

.post-navigation {
  display: none; }

.entry-footer {
  display: none; }

.footer-gap {
  margin-top: 20px; }

.container, .container-fluid {
  min-width: 320px; }

.contact-us-links {
  color: #252525; }
