/************************************************

	**Contents**
		# - Utilities
			# - Variables
			# - Mixins
			# - Feature detect
		# - Navigation
		# - Universal
			# - Headers
		# - Home page
		# - Category page
		# - Breadcrumb
		# - Article
		# - Article tags
		# - Career guides
		# - Now hiring block
		# - Search results
		# - All posts

************************************************/
/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	# Variables
--------------------------------------------------------------*/
/* break-points */
$large-device: 1200px;
$medium-device: 992px;
$small-device-min: 768px;
$small-device-max: 767px;
$xsmall-device: 480px;
$custom-device: 320px;
/* NAV */
/* Text */
$font-stack: Lato, sans-serif;
$mobile-p-fonts : 16px;
$desktop-p-fonts : 24px;
/* Container backgrounds */
$bg-black: #252525;
$bg-dark-grey: #3f3f3f;
$bg-charcoal-grey: #595959;
$bg-light-grey: #f5f5f5;
$bg-neon-cta: #0afff9;
$bg-neon-cta-hover: #09e5e0;
$bg-light-blue: #e6ffff;

/* Lines */
$line-grey: #ebebeb;
$line-blue: #c3fff9;

/* Text links */
$textlink-inactive: #c3fff9;
$textlink-hover: #2b0ea0;
$textlink-visited: #415c7d;
/* Our work active styles */
$more-info-link: #4417ff;

/* Call to actions */
/* images */
/*grid break points*/

/*--------------------------------------------------------------
	# Mixins
--------------------------------------------------------------*/
@mixin text-sizing($font-size-px, $font-size-rem, $font-weight) {
  font-size: $font-size-px;
  font-size: $font-size-rem;
  font-weight: $font-weight;
}

@mixin cut-corner($border-weight, $border-colour, $position) {
  overflow: hidden;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: $border-weight;
    border-style: solid;
    @if $position == "top" {
      top: 0;
      right: 0;
      border-color: $border-colour $border-colour transparent transparent;
    } @else if $position == "bottom" {
      bottom: 0;
      left: 0;
      border-color: transparent transparent $border-colour $border-colour;
    }

  }
}

@mixin triangle-bottom( $tri-colour ) {
  $tri-colour: $bg-black !default;
  position: relative;
  background: $tri-colour;
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(37, 37, 37, 0);
    border-top-color: $tri-colour;
    border-width: 20px;
    margin-left: -20px;
  }
}

/*--------------------------------------------------------------
	# H tags
--------------------------------------------------------------*/

h1, h2, h3, h4 {
  font-weight: 700;
}
h1 {
  font-size: 40px;
  @media only screen and (max-width: $small-device-max) {
    font-size: 36px;
  }
}

//main button style
.btn-action {
  font-size: 14px;
  padding: 3px 9px 3px 15px;
  color: $bg-black;
  background-color: $bg-neon-cta;
  border-radius: 20px;
  &:hover,
  &:focus,
  &.focus {
    color: $bg-black;
    text-decoration: none;
    background-color: $bg-neon-cta-hover;
  }

  &:active,
  &.active {
    color: $bg-neon-cta;
    background-color: $bg-black;
  }
}

//top bar
.site-branding {
  background-color: $bg-black;
  padding: 20px 85px 20px 20px;
  max-height: 65px;
  height: 65px;
}

a {
  &.top-bar-links {
    padding: 5px 5px 0;
    text-decoration: none;
    color: $bg-neon-cta;
    &:hover {
      color: white;
    }
  }
}


//bottom social links container
.social-links-bottom {
  background-color: $bg-charcoal-grey;
  padding-bottom: 10px;
}

//bottom social links bar
a {
  &.bottom-bar-links {
    padding: 5px 5px 0;
    text-decoration: none;
    color: white;
    &:hover {
      color: white;
    }
  }
}

//carousel custom-col-md-12 for text
.carousel-col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  @media only screen and (max-width: $small-device-max) {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

//carousel
.carousel-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @media only screen and (max-width: $small-device-max) {
    position: relative;
  }
  .carousel-text-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg-dark-grey;
    opacity: .7;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $small-device-max) {
      background-color: $bg-charcoal-grey;
      opacity: 1;
    }
  }
  .carousel-text {
    padding: 15px 40px 40px 40px;
    color: white;
  }
  .carousel-body {
    font-size: $desktop-p-fonts;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.2;
    @media only screen and (max-width: $small-device-max) {
      font-size: $mobile-p-fonts;
    }
  }
}
.carousel-inner {
  @media only screen and (max-width: $small-device-max) {
    max-height: 500px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.carousel-indicators {
  @media only screen and (max-width: $small-device-max) {
    display: none;
  }
}
.carousel-arrow-bottom {
  @include triangle-bottom($bg-black);
}


//page template
.page-image{
  img{
    width:100%;
  }
}
.page-content-corner {
  @include cut-corner(40px, $line-grey, "top");
  border-top: 3px solid $line-grey;
  padding: 10px 0;
  margin-top: 30px;
}
article p{
  margin-bottom: 1rem;
}
//latest and news articles
.three-col-articles {
  & .article-module {
    margin-bottom: 30px;
    .article-date {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .article-title a {
      display: block;
      font-size: 18px;
      color: $bg-black;
      text-decoration: none;
      margin-bottom: 10px;
    }
    .article-excerpt {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 25px;
    }
    .image-container {
      @include cut-corner(30px, white, "top");
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.latest-arrow-bottom {
  @include triangle-bottom(white);
  height: 95px;
  margin-top: 40px;
  border-top: 1px solid $line-grey;
  & a.btn-action {
    margin-top: 30px;
  }
}

//latest articles post page - 4 blocks
.latest-articles-post {
  position: relative;
  border-top: 4px solid $bg-light-grey;
  @include cut-corner(40px, $bg-light-grey, "top");
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 15px;
  & .latest-articles {
    margin-top: 20px;
  }
  & .article-module {
    & .image-container {
      @include cut-corner(20px, white, "top");
      a img{
        width:100%;
        height:auto;
      }
    }
  }
}
//support block
.support-block {
  & p {
    font-size: 18px;
    @media only screen and (max-width: $small-device-max) {
      font-size: 16px;
    }
  }
}
//quote block
.quote-block {
  @include cut-corner(50px, white, "bottom");
  position: relative;
  background-color: $bg-light-blue;
  text-align: center;
  padding: 75px 20px;
  @media only screen and (max-width: $small-device-max) {
    padding: 0px 10px;
    padding-bottom: 40px;
  }
  & .fp-quote {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    width: 65%;
    margin: 40px auto;
    @media only screen and (max-width: $small-device-max) {
      width: 100%;
      font-size: 18px;
    }
  }
  & .fb-signature {
    font-size: 18px;
    @media only screen and (max-width: $small-device-max) {
      font-size: 14px;
    }
  }
}

//article or post page
article .entry-header {
  margin-top: 30px;
  & .post-image-container {
    @include cut-corner(50px, white, "top");
  }
  & .article-date {
    margin-top: 15px;
  }
}
//non news category page
.category-image img{
  width:100%;
}
.panel-group{
  margin-top:25px;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top: 0;
}

.panel-group .panel{
  border-radius: 0;
}
.btn-more{
  margin-top: 20px;
  padding:0;
  border-radius:0;
  background-color:transparent;
  color: $more-info-link;
  display:block;
}
.panel-ourwork{
  border-top: solid 2px $line-grey;
  .panel-heading{
    padding: 20px 15px;
  }
  .panel-title>a {
    text-decoration: none;
  }
  &:active, &:focus{
    @include cut-corner(10px, $bg-neon-cta, "top");
    border-top: solid 2px $bg-neon-cta;
  }
  &:hover{
    @include cut-corner(10px, $bg-neon-cta, "top");
  }
}
//side bar
.textwidget {
  position: relative;
  padding-top: 30px;
  > h2 {
    font-size: 22px;
    font-weight: 700;
  }
  > p {
    font-size:16px;
    line-height: 1.2;
  }
  .get-involved-widget {
    @include cut-corner(15px, $line-blue, "top");
    border: 15px solid $line-blue;
    padding: 0 15px 15px 15px;
    .btn-action {
      margin-top:15px;
    }
  }
  .award-widget {
    @include cut-corner(15px, white, "top");
    background-color: $bg-light-grey;
    padding: 0 30px 30px 30px;
    .btn-action {
      margin-top:15px;
    }
  }
  .quote-widget{
    @include cut-corner(15px, $line-grey, "top");
    border-top: 3px solid $line-grey;
    border-bottom: 3px solid $line-grey;
    padding: 30px;
    .widget-quote{
      font-size:18px;
      width: 85%;
    }
    .widget-quote-author{
      font-size:16px;
      margin-top:10px;
    }
    .widget-quote-author-title{
      font-size:14px;
    }
  }
}

//footer
.site-info {
  position: relative;
}

.info-symbols {
  position: relative;
  height: 100%;
  margin-top: 5px;
  display: block;
  float: left;
  & > .fa {
    color: white;
  }
  & > .fa-map-marker {
    margin-right: 11px;
    font-size: 18px;
  }
  & > .fa-envelope {
    margin-right: 5px;
    font-size: 12px;
  }
  & > .fa-phone {
    margin-right: 5px;
    font-size: 16px;
  }

  & > a {
    margin-right: 20px;
    @media only screen and (min-width: $medium-device)  {
      margin-right: 0px;
    }
  }
}

.upper-footer {
  @include cut-corner(30px, $bg-black, "top");
  background-color: $bg-dark-grey;
  padding: 20px;
  position: relative;
  @media only screen and (max-width: $small-device-max) {
    background-color: $bg-charcoal-grey;
  }
  @media only screen and (min-width: $medium-device) {
    padding: 20px 0px 20px 20px;
  }
  & * a {
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  & * .fa-chevron-right {
    color: white;
    font-size: 12px;
    margin-left: 5px;
  }
}

.lower-footer {
  height: 60px;
  padding: 20px 20px 10px 20px;
  background-color: $bg-black;
  color: white;
  font-size: 16px;
}

//elements i can't find to remove
.post-navigation {
  display: none;
}

.entry-footer {
  display: none;
}

//footer gap space for mobile version
.footer-gap {
  margin-top: 20px;
}

.container, .container-fluid{
  min-width: 320px;
}