/************************************************

	**Contents**
		# - Utilities
			# - Variables
			# - Mixins
			# - Feature detect
		# - Navigation
		# - Universal
			# - Headers
		# - Home page
		# - Category page
		# - Breadcrumb
		# - Article
		# - Article tags
		# - Career guides
		# - Now hiring block
		# - Search results
		# - All posts

************************************************/
/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	# Variables
--------------------------------------------------------------*/
/* break-points */
$large-device: 1200px;
$medium-device: 992px;
$small-device-min: 768px;
$small-device-max: 767px;
$xsmall-device: 480px;
$custom-device: 320px;
/* NAV */
/* Text */
$font-stack: Lato, sans-serif;
$mobile-p-fonts : 16px;
$desktop-p-fonts : 24px;
/* Lines */
$line-grey: #ebebeb;
$line-blue: #c3fff9;
/* Carousel*/
$carousel-bg-text: #515151;
/* Cut corner sizes*/
$large-cut-corner: 30px;
$medium-cut-corner: 20px;
$small-cut-corner: 10px;

/* Container backgrounds */
$bg-black: #252525;
$bg-dark-grey: #3f3f3f;
$bg-charcoal-grey: #595959;
$bg-light-grey: #f5f5f5;
$bg-neon-cta: #0afff9;
$bg-neon-cta-hover: #09e5e0;
$bg-light-blue: $bg-neon-cta;
$bg-light-grey:$line-grey;

/* Text links */
$textlink-inactive: #c3fff9;
$textlink-hover: #2b0ea0;
$textlink-visited: #415c7d;
/* Our work active styles */
$more-info-link: #4417ff;

/* Call to actions */
/* images */
/*grid break points*/

/*--------------------------------------------------------------
	# Mixins
--------------------------------------------------------------*/
@mixin text-sizing($font-size-px, $font-size-rem, $font-weight) {
  font-size: $font-size-px;
  font-size: $font-size-rem;
  font-weight: $font-weight;
}

@mixin cut-corner($border-weight, $border-colour, $position) {
  overflow: hidden;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-width: $border-weight;
    border-style: solid;
    @if $position == "top" {
      top: 0;
      right: 0;
      border-color: $border-colour $border-colour transparent transparent;
    } @else if $position == "bottom" {
      bottom: 0;
      left: 0;
      border-color: transparent transparent $border-colour $border-colour;
    }

  }
}

@mixin triangle-bottom( $tri-colour ) {
  $tri-colour: $bg-black !default;
  position: relative;
  background: $tri-colour;
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(37, 37, 37, 0);
    border-top-color: $tri-colour;
    border-width: 20px;
    margin-left: -20px;
    z-index: 1;
  }
}
//line modules up
@mixin line-posts-up() {
  display: flex;
  flex-wrap: wrap;
}
//make images grow or shrink on mouseover
@mixin scale-effect( $size ) {
  -webkit-transform: scale($size);
  -moz-transform: scale($size);
  -o-transform: scale($size);
  transform: scale($size);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/*--------------------------------------------------------------
	# H tags
--------------------------------------------------------------*/

h1, h2, h3, h4 {
  font-weight: 700;
}
h1 {
  font-size: 40px;
  @media only screen and (max-width: $small-device-max) {
    font-size: 36px;
  }
}

/**************************************/
body{
  background-color: $bg-light-grey;
}
.content-bg{
  background-color: #ffffff;
}
hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  border-top: 3px solid $line-grey;
}
.bold{
  font-weight: 700;
}
/**************************************/
//main button style
.button-container{
  display: inline-block;
}
.btn-action, .wpforms-submit {
  display: flex;
  font-size: 14px;
  padding: 3px 9px 3px 15px;
  color: $bg-black;
  background-color: $bg-neon-cta;
  border-radius: 20px;
  &:hover,
  &:focus,
  &.focus {
    color: $bg-black;
    text-decoration: none;
    background-color: $bg-neon-cta-hover;
  }

  &:active,
  &.active {
    color: $bg-neon-cta;
    background-color: $bg-black;
  }
  & .fa-chevron-right {
    margin-top: 4px;
    margin-left: 5px;
  }
}

//top bar
.site-branding {
  background-color: $bg-black;
  padding: 20px 85px 20px 20px;
  max-height: 65px;
  height: 65px;
  @media only screen and (max-width: $xsmall-device) {
    height: 40px;
    padding: 7px 85px 20px 20px;
  }
  & img {
    width: 195px;
    @media only screen and (max-width: $xsmall-device) {
      width: 152px;
    }
  }
}
.site-content{
  padding-top: 50px;
}
a {
  &.top-bar-links {
    padding: 5px 5px 0;
    text-decoration: none;
    color: $bg-neon-cta;
    &:focus {
      color: white;
    }
    &:hover {
      color: white;
    }
  }
}

.site-footer{
  @media only screen and (max-width: $small-device-min) {
    @include  cut-corner($large-cut-corner, $bg-black, "top");
  }
}
//footer social link container
.footer-social-link-container {
  width: 20%;
  float: left;
}
//bottom social links container
.social-links-bottom {
  padding-bottom: 10px;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
}

//bottom social links bar
a {
  &.bottom-bar-links {
    width: 50px;
    height: 50px;
    font-size: 28px;
    padding: 5px 5px 0;
    text-decoration: none;
    color: white;
    &:focus {
      color: $bg-neon-cta;
    }
    &:hover {
      color: $bg-neon-cta;
    }
  }
}

//right menu bar overrides
.drawer {
  & .drawer-toggle {
    @media only screen and (max-width: $xsmall-device) {
      width: 40px;
      height: 40px;
      padding: 0px 10px;
    }
    & .drawer-hamburger-icon{
      @media only screen and (max-width: $xsmall-device) {
        margin-top: 0;
      }
      &::before {
        @media only screen and (max-width: $xsmall-device) {
          top: -7px;
        }
      }
      &::after {
        @media only screen and (max-width: $xsmall-device) {
          top: 7px;
        }
      }
    }
  }
  @media only screen and (max-width: $xsmall-device) {
    &.drawer-open {
      & .drawer-toggle {
        & .drawer-hamburger-icon {
          &::before {
            top: 0;
          }
          &::after {
            top: 0;
          }
        }
      }
    }
  }
}

.drawer-open .drawer-overlay {
  display: none;
}

.drawer-menu {
  :focus {
    color: white;
    text-decoration: none;
  }
  & .drawer-dropdown-menu {
    & .drawer-menu-item {
      @media only screen and (max-width: $xsmall-device){
        font-size: 18px;
        height: auto;
        padding: 8px 20px 7px 40px;
      }
    }
  }
  & .drawer-menu-item {
    @media only screen and (max-width: $xsmall-device){
      font-size: 18px;
      height: auto;
      padding: 8px 20px 7px 20px;
    }
  }
  .drawer-dropdown-menu {
    background-color: #222;
  }
  > .item > .drawer-menu-item{
    &:hover{
      @include cut-corner($small-cut-corner, $bg-dark-grey, "top");
    }
  }
  > .drawer-dropdown > .drawer-menu-item {
    &:hover, &:focus{
      @include cut-corner($small-cut-corner, $bg-dark-grey, "top");
    }
  }
}

.drawer--right.drawer-open .drawer-hamburger {
  &:focus {
    background-color: $bg-dark-grey;
    > .drawer-hamburger-icon{
      &::before{
        background-color: $bg-neon-cta;
      }
      &::after{
        background-color: $bg-neon-cta;
      }
    }
  }
  &:hover {
    > .drawer-hamburger-icon {
      background-color: $bg-dark-grey;
    }
  }
  right: calc(100% - 40px);
  @media only screen and (min-width: 350px){
    right: 293px;
  }
  @media only screen and (min-width: $xsmall-device) {
    right: 365px;
  }
}

.drawer-nav {
  width: calc(100% - 40px);
  @media only screen and (min-width: 350px){
    width: 293px;
  }
  @media only screen and (min-width: $xsmall-device) {
    width: 365px;
  }
}

.drawer-hamburger{
  &:visited{
    background-color: $bg-dark-grey;
  }
  &:active{
    background-color: $bg-dark-grey;
  }
  &:hover {
    background-color: $bg-dark-grey;
  }
}


//carousel custom-col-md-12 for text
.carousel-col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  @media only screen and (max-width: $small-device-max) {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

//carousel
.hero-module{
  @media only screen and (max-width: $small-device-min) {
    background-color: $carousel-bg-text;
  }
}
.hero-block{
  padding-left: 0px;
  padding-right: 0px;
  @media only screen and (min-width: $large-device){
    padding-left: 15px;
    padding-right: 15px;
  }
}
.carousel-text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @media only screen and (max-width: $small-device-max) {
    position: relative;
  }
  & .row {
    margin-right: 0px;
  }
  .carousel-text-background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bg-dark-grey;
    opacity: .7;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $small-device-max) {
      background-color: $bg-charcoal-grey;
      opacity: 1;
    }
  }
  .carousel-text {
    padding: 15px 40px 40px 40px;
    color: white;
    @media only screen and (max-width: $medium-device) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .carousel-body {
    font-size: $desktop-p-fonts;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.2;
    @media only screen and (max-width: $small-device-max) {
      font-size: $mobile-p-fonts;
    }
  }
}
.carousel-inner {
  max-height: 100%;
  @media only screen and (max-width: $small-device-max) {
    max-height: 100%;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.carousel-indicators {
  @media only screen and (max-width: $small-device-max) {
    display: none;
  }
}
.carousel-cut-corner {
  @include cut-corner($large-cut-corner, $bg-light-grey, "top");
}

.fa-chevron-left {
  left: 0;
  @media only screen and (max-width: $small-device-max) {
    left: 0;
    //font-size: 20px;
  }
}
.fa-chevron-right {
  right: 0;
  @media only screen and (max-width: $small-device-max) {
    right: 0;
    //font-size: 20px;
  }
}

.carousel-counter{
  width: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  margin-right: calc(45px + 45px + 3%);
  & > .slide-number-text-container{
    display: flex;
    position: absolute;
    bottom: 6%;
    top: auto;
    color: white;
    > i {
      font-size: 0.8em;
    }
  }
}

.carousel-control {
  width: 45px;
  & .fa{
    bottom: 5%;
    top: auto;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    color: $bg-neon-cta;
    opacity: 1;
    &.fa-chevron-right{
      padding-top: 4px;
      padding-left: 4px;
    }
    &.fa-chevron-left{
      padding-top: 4px;
      padding-right: 4px;
    }
  }
}

.left.carousel-control{
  right: 0;
  left: auto;
  margin-right: calc(3% + 45px);
}
.right.carousel-control{
  margin-right: 3%;
}
.carousel-indicators {
  display: none;
}
//home page our work
// color is charcoal gray
.our-work-topbox{
  color: white;
  @media only screen and (max-width: $small-device-min){
    padding-left: 15px;
    padding-right: 15px;
  }
}
.our-work-bottombox{
  @include cut-corner($medium-cut-corner, $bg-charcoal-grey, "top");
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  background-color: $bg-dark-grey;
  color: white;
  & h2 {
    font-size: 22px;
  }
  & p {
    margin-bottom: 10px;
  }
}
.our-work-row {
  background-color: $bg-charcoal-grey;
  margin-left: -15px;
  margin-right: -15px;
  @media only screen and (min-width: $small-device-min) {
    margin-left: 25px;
    margin-right: 25px;
  }
}
.our-work-cut-corner {
  border-top: solid 2px $bg-neon-cta;
  @include cut-corner($large-cut-corner, $bg-neon-cta, "top");
}

.our-work-link-container {
  padding: 0;
  margin-top: 15px;
  & li {
    list-style: none;
  }
  & i {
    font-size: 14px;
  }
  & a {
    text-decoration: none;
    color: $bg-neon-cta;
    &:hover {
      text-decoration: none;
      color: $bg-neon-cta-hover;
    }
  }
}
.article-image {
  & img {
    width: 100%;
    height: auto;
  }
}
.set-image-padding{
  padding-right: 0;
  @media only screen and (max-width: $small-device-max) {
    padding-left: 0;
  }
}
.set-text-padding{
  padding-left: 40px;
  @media only screen and (max-width: $small-device-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

//page template
.page-image{
  @include cut-corner($large-cut-corner, $bg-light-grey, "top");
  img{
    width:100%;
    height: auto;
  }
}

// we don't need this now
.no-padding-header{
  padding-left: 0px;
  padding-right: 0px;
}
.page-content-corner {
  @include cut-corner($large-cut-corner, $line-grey, "top");
  border-top: 3px solid $line-grey;
  padding: 10px 0;
  margin-top: 30px;
  margin-left: 25px;
  @media only screen and (max-width: $medium-device) {
    margin-left: 0px;
  }
}

.widget-area{
  margin-right: 25px;
  @media only screen and (max-width: $medium-device) {
    margin-right: 0px;
  }
}

article p{
  margin-bottom: 1rem;
}
//latest and news articles
.latest-articles{
  padding-left: 40px;
  padding-right: 40px;
  @media only screen and (max-width: $small-device-max) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.three-col-articles {
  @include line-posts-up();
  & .article-module {
    margin-bottom: 30px;
    .article-date {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .article-title a {
      display: block;
      font-size: 18px;
      color: $bg-black;
      text-decoration: none;
      margin-bottom: 10px;
    }
    .article-excerpt {
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 25px;
    }
    .image-container {
      @include cut-corner($large-cut-corner, white, "top");
      margin-bottom: 10px;
      img {
        /* border set below is used to hide the gap
         * between cut-corner triangle and image
         */
        border-top: 1px solid white;
        width: 100%;
        height: auto;
        @include scale-effect(1);
        &:hover{
          @include scale-effect(1.2);
        }
      }
    }
  }
}
.set-view-all-padding {
  padding-right: 40px;
}
.latest-arrow-bottom {
  //@include triangle-bottom(white);
  height: 95px;
  margin-top: 40px;
  border-top: 1px solid $line-grey;
  & a.btn-action {
    margin-top: 30px;
  }
}

//latest articles post page - 4 blocks
.latest-articles-post {
  position: relative;
  border-top: 4px solid $bg-light-grey;
  @include cut-corner($large-cut-corner, $bg-light-grey, "top");
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 15px;
  & .latest-articles {
    margin-top: 20px;
  }
  & .article-module {
    & .image-container {
      @include cut-corner($medium-cut-corner, white, "top");
      a img{
        width:100%;
        height:auto;
      }
    }
  }
}
//support block
.support-row{
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
  @media only screen and (max-width: $small-device-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.support-block {
  padding-right: 40px;
  @media only screen and (max-width: $small-device-max) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media only screen and (min-width: $small-device-min) and (max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  & .supported-by {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  & .supported-by-images {
    width: 100%;
  }
  & .btn {
    margin-top: 20px;
  }
}
.fund-block {
  padding-left: 40px;
  @media only screen and (max-width: $small-device-min) {
    padding-left: 5px;
    padding-right: 5px;
  }
  @media only screen and (min-width: $small-device-min) and (max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  & .donation-card-image {
    width: 100%;
  }
  & p {
    font-size: 18px;
    @media only screen and (max-width: $small-device-max) {
      font-size: 16px;
    }
  }
  & .btn {
    margin-top: 20px;
    & p {
      font-size: 14px;
    }
  }
}
.make-dontation{
  margin-top: 20px;
  margin-bottom: 20px;
}

//quote block
.quote-block {
  @include cut-corner($large-cut-corner, white, "top");
  position: relative;
  background-color: $bg-light-blue;
  text-align: center;
  padding: 35px 15px;
  margin: 40px 25px;
  @media only screen and (max-width: $small-device-max) {
    padding: 0px 20px;
    padding-bottom: 40px;
    background-color: $bg-light-blue;
  }
  & .fp-quote {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    width: 90%;
    margin: 30px auto;
    @media only screen and (max-width: $small-device-max) {
      width: 100%;
      font-size: 18px;
    }
  }
  & .fb-signature {
    color: #252525;
    font-size: 18px;
    @media only screen and (max-width: $small-device-max) {
      font-size: 14px;
    }
  }
}

//article or post page
article .entry-header {
  margin-top: 30px;
  & .post-image-container {
    @include cut-corner($large-cut-corner, white, "top");
  }
  & .article-date {
    margin-top: 15px;
  }
}

/*****************************************************************************************/
img {
  width:100%;
  height:auto;
}
/*****************************************************************************************/


//non news category page
.category-image img{
  width:100%;
}
.panel-group{
  margin-top:25px;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top: 0;
}

.panel-group .panel{
  border-radius: 0;
}
.btn-more{
  margin-top: 20px;
  padding:0;
  border-radius:0;
  background-color:transparent;
  color: $more-info-link;
  display:block;
}
.panel-ourwork{
  border-top: solid 2px $line-grey;
  .panel-heading{
    padding: 20px 15px;
  }
  .panel-title>a {
    text-decoration: none;
  }
  &:active, &:focus{
    @include cut-corner($small-cut-corner, $bg-neon-cta, "top");
    border-top: solid 2px $bg-neon-cta;
  }
  &:hover{
    @include cut-corner($small-cut-corner, $bg-neon-cta, "top");
  }
}

.active-panel{
  border-top: solid 2px $bg-neon-cta;
  @include cut-corner($small-cut-corner, $bg-neon-cta, "top");
}

//side bar
.textwidget {
  position: relative;
  padding-top: 30px;
  > h2 {
    font-size: 22px;
    font-weight: 700;
  }
  > p {
    font-size:16px;
    line-height: 1.2;
  }
  .get-involved-triangle {
    @include cut-corner($medium-cut-corner, white, "top");
  }
  .get-involved-widget {
    @include cut-corner($medium-cut-corner, $line-blue, "top");
    border: 15px solid $line-blue;
    padding: 0 15px 15px 15px;
    .btn-action {
      margin-top:15px;
    }
  }
  .award-widget {
    @include cut-corner($medium-cut-corner, white, "top");
    background-color: $bg-light-grey;
    padding: 0 30px 30px 30px;
    .btn-action {
      margin-top:15px;
    }
  }
  .quote-widget{
    @include cut-corner($medium-cut-corner, $line-grey, "top");
    border-top: 3px solid $line-grey;
    border-bottom: 3px solid $line-grey;
    padding: 30px;
    .widget-quote{
      font-size:18px;
      width: 85%;
    }
    .widget-quote-author{
      font-size:16px;
      margin-top:10px;
    }
    .widget-quote-author-title{
      font-size:14px;
    }
  }
}

.our-work-block{
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  .ourwork-articles-button{
    padding-bottom: 20px;
    border-bottom: solid 1px #ebebeb;
  }
}

//get-invovled
.get-involved-block{
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  & .three-col-articles{
    & .article-module {
      & .image-container {
        @include cut-corner($medium-cut-corner, $bg-neon-cta, "top");
        border-top: 2px $bg-neon-cta solid;
        margin-bottom: 10px;
        & img {
          border-top: none;
          width: 100%;
          height: 100%;
        }
      }
      & .get-involved-article-buttons {
        padding-bottom: 20px;
        border-bottom: solid 1px $line-grey;
        display: flex;
        @media only screen and(max-width:350px) {
          flex-wrap: wrap;
        }
        @media only screen and (min-width:768px) and (max-width:1010px) {
          flex-wrap: wrap;
        }
        align-items: center;
        & .btn-more {
          margin-top: 0;
        }
        & .get-involved-link{
          padding-left: 0px;
          padding-right: 0px;
        }
        & .get-involved-btn{
          text-align: right;
          padding-left: 0px;
          padding-right: 0px;
          @media only screen and(max-width:350px) {
            text-align: left;
            margin-top: 20px;
          }
          @media only screen and (min-width:768px) and (max-width:1010px) {
            text-align: left;
            margin-top: 20px;
          }
        }
      }
    }
  }
}
/*************************************/
// testing our work blue line
.panel-ourwork:visited .panel-ourwork:active, .panel-ourwork:focus {
  overflow: hidden;
  position: relative;
  border-top: solid 2px #0afff9;
}
/************************************/

//footer
.site-info {
  position: relative;
  @media only screen and (min-width: $small-device-min){
    margin-bottom: 20px;
  }
}
.site-copyright {
  position: relative;
}
.site-info-bg {
  background-color: $bg-dark-grey;
}
.site-copyright-bg {
  background-color: $bg-black;
}
.address {
  margin-top: 10px;
  @media only screen and (min-width: $small-device-min)  {
    margin-top: -105px;
    padding-left: 10px;
    padding-right: 0px;
  }
  @media only screen and (min-width:540px) and (max-width: 767px)  {
    margin-top: -105px;
  }
  @media only screen and (min-width: $medium-device)  {
    margin-top: -5px;
    padding-left: 11px;
  }
}
.email{
  padding-left: 15px;
  padding-right: 15px;
  @media only screen and (min-width:540px) and (max-width: 767px)  {
    margin-top: -25px;
  }
  @media only screen and (min-width: $small-device-min)  {
    margin-top: -25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  @media only screen and (min-width: $medium-device)  {
    margin-top: 0px;
  }
}
.telephone {
  @media only screen and (min-width: $small-device-min)  {
    padding-left: 0px;
    padding-right: 0px;
  }
  @media only screen and (min-width: $medium-device)  {
    margin-top: 0px;
  }
}
.info-symbols {
  position: relative;
  height: 100%;
  margin-top: 5px;
  display: block;
  float: left;
  & > .fa {
    color: white;
  }
  & > .fa-map-marker {
    margin-right: 11px;
    font-size: 18px;
  }
  & > .fa-envelope {
    margin-right: 5px;
    font-size: 12px;
    margin-left: 10px;
    @media only screen and (max-width: $small-device-max)  {
      margin-left: 0px;
    }
  }
  & > .fa-phone {
    margin-right: 5px;
    font-size: 16px;
    margin-left: 10px;
    @media only screen and (max-width: $small-device-max)  {
      margin-left: 0px;
    }
  }
  & > .email-custom-class {
    text-decoration: underline;
    @media only screen and (min-width:540px) and (max-width: 767px)  {
      margin-right: 0;
    }
  }
  & > a {
    margin-right: 20px;
    @media only screen and (min-width: $medium-device)  {
      margin-right: 0px;
    }
  }
}
.upper-footer {
  padding: 20px;
  position: relative;
  @media only screen and (max-width: $small-device-max) {
    padding: 20px 5px;
  }
  @media only screen and (min-width: $medium-device) {
    padding: 20px 25px 20px 25px;
  }
  & * a {
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  & * .fa-chevron-right {
    color: white;
    font-size: 12px;
    margin-left: 5px;
  }
  & .footer-logo {
    @media only screen and (min-width: 730px){
      width: 75%;
    }
    @media only screen and (min-width: $medium-device){
      width: 70%;
    }
    @media only screen and (min-width: $large-device){
      width: 65%;
    }
  }
}

.lower-footer {
  height: 60px;
  padding: 20px 20px 10px 20px;
  @media only screen and (max-width: $small-device-max) {
    padding: 20px 5px 10px 5px;
  }
  color: white;
  font-size: 16px;
}

.block-margin {
  @media only screen and (min-width:320px) and (max-width: 539px)  {
    margin-top: 20px;
  }
  @media only screen and (min-width:540px) and (max-width: 767px)  {
    margin-top: 20px;
  }
  @media only screen and (min-width: $small-device-min) {
    margin-top: 20px;
  }
  @media only screen and (min-width: $large-device) {
    margin-top: 0px;
  }
}

.adjust-margin {
  @media only screen and (min-width: $medium-device) {
    margin-top: -105px;
  }
  @media only screen and (min-width: $large-device) {
    margin-top: 0px;
  }
}

.custom-breakpoint {
  @media only screen and (min-width:540px) and (max-width: 767px)  {
    width: 50%;
  }
}

//elements i can't find to remove
.post-navigation {
  display: none;
}

.entry-footer {
  display: none;
}

//footer gap space for mobile version
.footer-gap {
  margin-top: 20px;
}

.container, .container-fluid{
  min-width: 320px;
}


//contact us page
.contact-us-links{
  color:#252525;
}